body, html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 100%;
    color: #666;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
}

.img1 {
    background-image: url('./img/image1.jpg');
    min-height: 100%;
}

.img2 {
    background-image: url('./img/image2.jpg');
    min-height: 400px;
}

.img3 {
    background-image: url('./img/image3.jpg');
    min-height: 400px;
}

.img1, .img2, .img3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    font-size: 40px;
}

.ptext .border {
    background-color: #111;
    padding: 20px;
    color: #fff;
}

.ptext.trans {
    color: #fff;
    text-transform: uppercase;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

section.section-dark{
    background: #282e34;
    color: #ddd;
}

